.headerGreen {
  background-color: #63b7af;
  height: 250px !important;
  
}

#sombra::before {
  height: 0 !important;
}

.nameTitle{
  color: white !important;
  text-align: center !important;
  width: inherit;
}

.headerNameTitle div{
  margin: 0 !important;
}

.bandera{
  height: 20px;
  margin: 8px;
}

#banderasList{
  margin-top: -80px !important;
}

.precio{
  margin-top: 30px;
  background-color: #d4f3ef;
  border-radius: 30px;
  width: 180px;
  height: 40px;
  text-align: center;
  display: inline-block;
}
.precioText{
  display: inline-block;
  margin-top: 8px;
}



@media only screen and (max-width: 720px) {

  .headerGreen {
    
    margin: 50px 0 !important;
  }
  
  }