.contenedorGris{
    background-color: #ebe8e8 !important;
    min-height: 300px;
    margin: 50px 0 !important;
    padding: 10px !important;
    display: flex;
    align-content: center;
    flex-direction: row !important;
}

.contenedorGris h4{
    margin-left: 10px;
}