.MuiButton-label {
  font-family: "Gill Sans Nova Light";
  font-weight: 700;
  font-size: 14px;
}

.buttonN {
  font-size: 1.9rem !important;
}
.makeStyles-white-21 button.makeStyles-transparent-64 span.MuiButton-label{
  color: #555 !important;
}

.makeStyles-transparent-19 button.makeStyles-transparent-64 span.MuiButton-label{
  color: #FFFFFF !important;
}

.MuiPaper-root button span{
  color: rgba(0, 0, 0, 0.87) !important;
}


