.MuiButton-label {
  font-family: "Gill Sans Nova Light";
  font-weight: 700;
  font-size: 14px;
}

.buttonN {
  font-size: 1.9rem !important;
}
.makeStyles-white-21 button.MuiButtonBase-root span.MuiButton-label, .makeStyles-white-34 button.MuiButtonBase-root span.MuiButton-label{
  color: #555 !important;
}

.makeStyles-transparent-19 button.MuiButtonBase-root span.MuiButton-label, .makeStyles-transparent-32 button.MuiButtonBase-root span.MuiButton-label{
  color: #FFFFFF !important;
}

.MuiPaper-root span{
  color: #555 !important;
}




