.MuiButton-label {
  font-family: "Gill Sans Nova Light";
  font-weight: 700;
  font-size: 14px;
}

.buttonN {
  font-size: 1.9rem !important;
}


header[class*="makeStyles-white-"] a {  
  color: #555 !important;
}

header[class*="makeStyles-transparent-"] a {  
  color: #FFFFFF !important;
}



.makeStyles-navLink-54{
  color: #555 !important;
}


.MuiPaper-root a, .MuiPaper-root a:hover, .MuiPaper-root a:focus{
  color: #555; 
}




