.email {
  cursor: pointer !important;
  font-size: 14px !important;
  text-transform: lowercase !important;
  padding: 0 0.9375rem 0 0.9375rem !important;
}

.makeStyles-block-96 {
  font-family: "Gill Sans Nova Light";
  font-weight: 700 !important;
  margin: 0 !important;
}

.makeStyles-inlineBlock-104 {
  margin: 0 50px;
}

a.makeStyles-block-96:hover {
  color: #63b7af;
}
