.filtrar{
    background-color: #fcccc3 !important;
    padding: 20px 15px !important;
    border-radius: 20px !important;

    .MuiInputLabel-formControl{
        z-index: 999;
        top: -15px !important;
        margin-left: 10px !important;
    }

    .MuiFormControl-root{
        padding: 0 !important;
        width: 18% !important;
    }

    .makeStyles-underline-80::after{
        border-color: #ee8572 !important;
        margin-bottom: 0 !important;

    }

    .makeStyles-formControl-87{
        margin: 0 0 0 10px !important;
    }

    #color{
        color: #302f2f !important;
        transform: translate3d(0, -50%, 0) !important;
    }

    #sector {
        width: 100% !important;
        margin-bottom: 0 !important;
    }
    input{
        padding: 7px !important;
    }
}

.inputFiltrar{
    background-color: #fff !important;
}

.titulo4{
    color: #302f2f !important;
}

.span{
    color: #ee8572 !important;
}

#sector, #hashtag, #tipo, #idioma, #precio{
    background-color: white ;
    border-radius: 5px;
}

#cardProf{
    
    border: 20px !important;

    #cardheader{
        height: 110px;
    }
}

.divImg{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#contenedor, #contenedor1{
    padding-bottom: 0;
}

#contenedor1{
    padding-top: 0;
}


.imgFluid {
    max-width: 70%;
    height: auto;
    transform: translate3d(0, -50%, 0) !important;
  }

  #letras{
    width: auto;
    align-self: center;
    margin-top:-90px;
    align-items: center ;
    display: flex;
    flex-direction: column;
    p{
        font-size: 16px;
        padding: 0;
        margin-top:-10px;
    }
    span{
        text-align: center;
    }

}

  .imgRounded {
    border-radius: 6px !important;
  }
  .imgRoundedCircle {
    border-radius: 50% !important;
  }
  .imgRaised {
    box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  }

  button.precio{
      margin-top: 0;
      border:0;
      background-color: #d4f3ef !important;
      border-radius: 30px;
   
      &:hover{
        background-color: #d4f3ef !important;
        box-shadow: 0 3px 7px -4px rgba(0, 0, 0, 0.24), 0 4px 7px -2px rgba(0, 0, 0, 0.2);
        }
    }

    button .precioText{
        margin-top: 0;        
      }

  button.MuiButtonBase-root spam.precioText{
      color:rgba(0, 0, 0, 0.87) !important;
      text-transform: none !important;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
      font-weight: 300 !important;
      font-size: 14px !important;
  }
  
