.MuiGrid-container {
  margin-bottom: 55px;
}

.MuiGrid-container h2 {
  color: #63b7af;
  font-family: Gill Sans Nova Light;
}

#dos, #uno {
  color: #ee8572;
  font-family: Gill Sans Nova Light;
}

.makeStyles-section-97 {
  padding: 0 !important;
}
