.botonMensaje {
  background-color: #ee8572 !important;
}

.TituloMensaje {
  color: #ee8572 !important;
}

.makeStyles-section-123,
.makeStyles-section-100,
.makeStyles-section-80 {
  padding: 0 0 7px 0 !important;
}
