body h1 {
  font-family: "Gill Sans Nova Book" !important;
  font-size: 60px;
}

.your-style {
  font-family: "Gill Sans Nova Book";
  font-weight: 500;
  font-style: italic;
}

.logo,
.logo span {
  background-image: url("./assets/img/logo.png");
  width: 50%;
}

@media only screen and (max-width: 720px) {

  body h1 {
    
    font-size: 200%;
  }
  
  }

  .p-error{
    color: red;
  }

  .description{
    color: #999;
    margin: 1.071rem auto 0;
    text-align: center !important;
  }
  .left40px{
    margin-left: 20%!important;
  }
  .with100{
    width: 100%!important;
  }

.height80px{
  height: 80px!important;
}
.margintop50px{
  margin-top: 50px!important;
}
.marginbottom0px{
  margin-bottom: 0px!important;
}
.marginbottom10px{
  margin-bottom: 10px!important;
}
.floatLeft{
  float: left;
}

.inputAutocomplate{
  background: white!important;
}

.center{
  text-align: center!important;
  img{
    width: 100px;
  }
}