body .buttonN {
  font-family: "Gill Sans Nova Light" !important;
  font-weight: 800;
  font-size: 1.2rem !important;
  background-color: #fff !important;
  opacity: 0.7 !important;
  color: #ee8572 !important;
}

body .buttonN:hover {
  opacity: 1 !important;
}

body .buttonN {
  transition: opacity 0.5s linear 0s;
  margin: auto;
  border-radius: 6px;
  border: 2px solid #ee8572 !important;
}

.segundoGrid {
  float: right;
}

.segundoItem {
  display: grid;
  margin-top: 25px !important;
}
